.payment {
    width: 512px;
    margin: 0 auto;


    .toggle_row {
        margin: 0 0 20px 0;
    }
}

.period {
    margin-top: 10px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}